############################
# OS FILES
############################
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

############################
# JAVA BUILD FILES
############################
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

############################
# MAVEN
############################
target/

############################
# GRADLE
############################
.gradle/
build/

############################
# LOGS & REPORTS
############################
logs/
*.log
output.log
test-output/
reports/
allure-results/
allure-report/
surefire-reports/
extent-report/
emailable-report.html

############################
# SCREENSHOTS & TEST DATA
############################
screenshots/
captures/
test-data/output/
*.png
*.jpg
*.jpeg

############################
# DRIVER BINARIES (Selenium)
############################
chromedriver*
geckodriver*
msedgedriver*
IEDriverServer*
drivers/
bin/

############################
# IntelliJ IDEA IDE FILES
############################
out/

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/
.history/
.code-workspace

############################
# TESTING FRAMEWORKS (JUnit, TestNG, Cucumber)
############################
cucumber-reports/

############################
# TEMP & CACHE FILES
############################
tmp/
temp/
cache/
*.tmp
*.bak
*.swp
*.swo
*.orig
